<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Smartphone</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form_styles.css'%}?{{ timestamp }}">
</head>
<body>
    <h1>Adicione um Novo Smartphone</h1>
    <div class="center-container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar Smartphone</button>
    </form>
    <p>
        <a href="{% url 'mostrar_smartphones' %}">Smartphones</a>
        <a href="{% url 'logout' %}" class = "logout">Logout</a>
    </p>
    </div>
</body>
</html>